@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --cl-bdazzled-blue: #3d5a80;
  --cl-light-cyan: #e0fbfc;
  --cl-gunmetal: #293241;
  --cl-dark-sky-blue: #98c1d9;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--cl-light-cyan);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  width: 200vw;
  max-width: 100%;
  height: 150vh;
  min-height: 100%;
  background-color: var(--cl-bdazzled-blue);
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#title {
  text-align: center;
  font-weight: 700;
  font-size: 3ch;
}

#description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#svg-container {
  flex: 1;
  width: 100%;
  background-color: var(--cl-dark-sky-blue);
  border-radius: 10px;
}

.tile:hover {
  fill: var(--cl-light-cyan) !important;
}

.tile-title {
  fill: var(--cl-gunmetal);
  font-size: 1rem;
}

#legend {
  color: var(--cl-gunmetal);
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 700;
}

.legend-item {
  width: 20px;
  height: 20px;
  stroke: var(--cl-gunmetal);
  stroke-width: 2;
}

#tooltip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 300px;
  height: 110px;
  padding: 0.5rem 1rem;
  background-color: rgba(224, 251, 252, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 10px var(--cl-gunmetal);
  font-weight: 700;
  color: var(--cl-gunmetal);
  text-align: start;
}
